


  /* Estilos para el encabezado y el carrusel */
  .carousel-item {
    height: 100vh;
    min-height: 30px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
    .carousel-caption {
      bottom: 50px;
      h2 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 200px;
        margin-bottom: 75px;
      }
      h3 {
        font-size: 45px;
        letter-spacing: 2px;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      h4 {
        font-size: 45px;
        letter-spacing: 2px;
        margin-top: 15px;
        margin-bottom: 15px;
      }
      p {
        width: 75%;
        margin: auto;
        font-size: 18px;
        line-height: 1.9;
      }
    }
    .navbar-light {
      .navbar-brand {
        color: $color-principal;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
      }
      .navbar-nav {
        text-align: center;
        .nav-link {
          padding: .2rem 1rem;
          &.active,
          &:focus {
            color: $color-principal;
          }
        }
      }
      .navbar-toggler {
        background: $color-principal;
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
      }
      .nav-link {
        &.active,
        &:focus {
          color: $color-principal;
        }
      }
    }
    .back-black {
      background-color: rgb(21, 20, 20);
    }
  }


#header {
    background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat;
  }
  
  /* Terminan estilos para el encabezado y el carrusel */