
  /* Empiezan estilos para el about */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 200px;
    h1 {
      font-size: 45px;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 25px;
      margin-bottom: 75px;
      text-align: center;
    }
  }
  
  /* Terminan estilos para el about */
  

  /* Empiezan estilos para las cards */
  .glass-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Estilo adicional para el contenido de la tarjeta */
    .glass-card-content {
      color: #333;
    }
  }

  .grid-container {
    color: black;


  
  /* Terminan estilos para las cards */
  