.selector {

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
}

@mixin gradient-bg($color: null) {
  background-color: $color;

}


@media (max-width: 728px) {
  .cards{
    flex-direction: column;
    align-items: center;
  }
}