/* Estilos globales */

/* Reset */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box; 
}

/* Estilos para el encabezado y el carrusel */
.carousel-item {
  height: 100vh;
  min-height: 30px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: auto;
}
.carousel-caption {
  bottom: 50px;
}

.carousel-caption h2 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 200px;
  margin-bottom: 75px;
}

.carousel-caption h3 {
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.carousel-caption h4 {
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active, .nav-link:focus {
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.back-black {
  background-color: rgb(21, 20, 20);
}

/* Terminan estilos para el encabezado y el carrusel */

/* Empiezan estilos para el about */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-gap: 20px; 
  max-width: 800px; 
  margin: 0 auto; 
  padding-bottom: 200px;
}

h1 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 75px;
  text-align: center;
}

/* Terminan estilos para el about */

#header {
  background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat;
}

/* Empiezan estilos para las cards */

.glass-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo adicional para el contenido de la tarjeta */
.glass-card-content {
  color: #333;
}

/* Terminan estilos para las cards */

/* Footer */
footer {
  background-color: #ffffff;
  color: rgb(104, 100, 100);
  text-align: center;
  border-top: 2px solid rgba(202, 202, 202, 0.3);
  padding: 10px 10px;
}

footer a {
  background-color: #ffffff;
  color: rgb(104, 100, 100);
  vertical-align: sub;
}

der {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 30px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: blue;
}

#menu-toggle {
  display: none;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 20px;
}

.grid-container {
  color: black;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
}


