/* Estilos para el about */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 200px;
}

.grid-container h1 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  margin-bottom: 75px;
  text-align: center;
}

/* Estilos para las cards */
.glass-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo adicional para el contenido de la tarjeta */
.glass-card-content {
  color: #333;
}

/* Estilos para los eventos */
.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.event {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.event h2 {
  font-size: 1.5rem;
  margin: 0;
}

.event p {
  margin: 0;
  font-size: 1rem;
}