/* Footer */
footer {
  background-color: #ffffff;
  color: rgb(104, 100, 100);
  text-align: center;
  border-top: 2px solid rgba(202, 202, 202, 0.3);
  padding: 10px 10px;

  a {
    background-color: #ffffff;
    color: rgb(104, 100, 100);
    vertical-align: sub;
  }

  .der {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-icon {
      display: none;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 30px;

      .bar {
        width: 100%;
        height: 3px;
        background-color: blue;
      }
    }

    #menu-toggle {
      display: none;
    }

    .navbar ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0 20px;
      }
    }
  }
}